$gradient-start: #FF79DA
$gradient-end: #9356DC
$color-grey: #F6F6F6
$color-grey2: #EAEAEA
$color-grey3: #7E7E7E
$color-grey4: #353535
$color-primary: #9356DC
$color-green1: #99E2D0
$color-green2: #008766

=h-txt-menu
  text-transform: uppercase
  align-self: start
  font-size: 17px
  font-weight: 100
  margin-bottom: 0px
  margin-left: 8px

=centrage-block
  display: block
  max-width: 375px
  margin-left: auto
  margin-right: auto

=title-margin
  font-size: 24px
  font-weight: 700
  margin-left: 20px

=bouton-rose
  font-size: 16px
  font-weight: 500
  max-width: 218px
  height: 50px
  margin-bottom: 60px
  border-radius: 25px
  border: none
  background: linear-gradient($gradient-start, $gradient-end)
  box-shadow: 0px 4px 10px 0px #00000040
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  &:hover 
    box-shadow: 0px 4px 15px 0px #00000059
    opacity: 85%

body
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0

.container
  display: flex
  flex-direction: column


.head-top
  align-items: center
  padding: 20px
  position: relative 
  z-index: 2
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2)
  display: flex
  .arrow-on
    margin: 0px
    padding-right: 10px
  .arrow-off
    display: none
  .head-logo
    margin-left: auto
    margin-right: auto
    transform: translateX(-10px)
    img
      width: 100%
      max-width: 160px
      transform: translateY(5px)

.intro-et-btn
  padding-top: 30px
  display: block
  text-align: center
  background-color: $color-grey
  h1
    font-size: 24px
    margin: 0px
  h2
    font-size: 18px
    font-weight: normal

.section-fct
  +centrage-block
  margin-top: 45px
  h3
    +title-margin

.fct
  width: 85%
  max-width: 350px
  height: 72.38px
  border-radius: 20px
  background: $color-grey
  box-shadow: 0px 4px 15px 0px #00000026
  display: flex
  align-items: center
  i
    align-self: center
  span
    flex-grow: 1
    text-align: center
    margin: 0 30px 0 0px
    font-size: 16px
    font-weight: 500
  .fa-store
    color: $color-primary
  .fa-list-ul
    color: $color-grey3
  .fa-mobile-screen-button
    color: $color-grey3

.sct-loca
  background: $color-grey2
  display: flex
  align-items: center
  justify-content: center
  height: 45px
  position: relative
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)
  label
    margin: 0px
  i
    margin-right: 10px
    padding: 0px

.loca-input
  border: none
  font-size: 16px
  font-weight: 500
  background-color: transparent
  text-align: center
  width: 140px

.btn
  +bouton-rose
  
.TxtWhite
  color: #FFFFFF
  font-size: 16px
  font-weight: 700
  line-height: 18.75px
  text-align: center

.no-bullets
  list-style-type: none
  padding: 0

.fct-list
  display: flex
  flex-direction: column
  align-items: center
  gap: 30px

.num-fct
  font-size: 14px
  background: $color-primary
  color: white
  display: flex
  align-items: center
  justify-content: center
  width: 25px
  height: 25px
  border-radius: 20px
  margin-left: -12px
  margin-right: 15px

.back-rest
  background: $color-grey

.page-rest
  display: flex
  img
    width: 100%
    height: 230px
    object-fit: cover
    object-position: center 80%

.page-cadre-menu
  display: flex
  flex-direction: column
  border-radius: 20px
  background-color: $color-grey
  justify-content: center
  margin-top: -20px
  position: relative
  z-index: 2

.page-menu
  display: block
  align-self: center

.title-menu
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  justify-content: center
  h1
    text-align: center

.contenu-menu
  display: flex
  flex-direction: column
  gap: 20px
  align-items: center
  h2
    +h-txt-menu
  h3
    +h-txt-menu
  h4
    +h-txt-menu

.tiret-vert
  background-color: $color-green1
  position: relative
  height: 3px
  width: 40px
  align-self: start
  bottom: 10px
  margin-left: 8px

.cadre-plat
  padding: 10px
  width: 90%
  max-width: 370px
  border-radius: 20px
  background: white
  box-shadow: 0px 4px 15px 0px #00000026
  display: flex
  flex-direction: column
  justify-content: space-around
  .title-plat
    display: block
    font-size: 17px
    font-weight: 600
  .dtl-plat
    display: flex
    justify-content: space-between
    .detail
      font-size: 14px
      font-weight: 300
    .plat-prix
      font-size: 14px
      font-weight: 600

.menu-btn
  display: flex
  justify-content: center
  .btn
    +bouton-rose
    margin-top: 60px
    width: 100%



.section-rest
  +centrage-block
  margin-top: 60px
  padding-top: 30px
  padding-bottom: 50px
  h3
    +title-margin


.rest-list
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  gap: 30px
  img
    width: 100%
    height: 180px
    object-fit: cover
    object-position: center 80%

.restaurant
  width: 90%
  contain: content
  display: flex
  flex-direction: column
  border-radius: 20px
  background: white

.nouv
  background-color: $color-green1
  font-size: 17px
  color: $color-green2
  border-radius: 2px
  padding: 5px
  position: absolute
  right: 0
  margin-right: 5%
  margin-top: 5%

.contenu-rest
    display: flex
    flex-direction: row
    align-items: center
    .text-container
      margin-bottom: 8px
      margin-left: 10px
      .title-rest
        font-size: 18px
        font-weight: 700
      .loca-rest
        font-size: 17px
        font-weight: 300
    i
      padding: 25px
      margin-left: auto

footer
  background: $color-grey4
  font-size: 16px
  font-weight: 500
  color: white
  padding: 20px
  .all-txt-foot
    display: flex
    flex-direction: column
    gap: 8px
    i
      max-width: 30px
  img
    filter: brightness(0) invert(1)
    width: 100%
    max-width: 130px
    padding-bottom: 20px
