body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.head-top {
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
}
.head-top .arrow-on {
  margin: 0px;
  padding-right: 10px;
}
.head-top .arrow-off {
  display: none;
}
.head-top .head-logo {
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-10px);
}
.head-top .head-logo img {
  width: 100%;
  max-width: 160px;
  transform: translateY(5px);
}

.intro-et-btn {
  padding-top: 30px;
  display: block;
  text-align: center;
  background-color: #F6F6F6;
}
.intro-et-btn h1 {
  font-size: 24px;
  margin: 0px;
}
.intro-et-btn h2 {
  font-size: 18px;
  font-weight: normal;
}

.section-fct {
  display: block;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.section-fct h3 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}

.fct {
  width: 85%;
  max-width: 350px;
  height: 72.38px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
}
.fct i {
  align-self: center;
}
.fct span {
  flex-grow: 1;
  text-align: center;
  margin: 0 30px 0 0px;
  font-size: 16px;
  font-weight: 500;
}
.fct .fa-store {
  color: #9356DC;
}
.fct .fa-list-ul {
  color: #7E7E7E;
}
.fct .fa-mobile-screen-button {
  color: #7E7E7E;
}

.sct-loca {
  background: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.sct-loca label {
  margin: 0px;
}
.sct-loca i {
  margin-right: 10px;
  padding: 0px;
}

.loca-input {
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
  width: 140px;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  max-width: 218px;
  height: 50px;
  margin-bottom: 60px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 85%;
}

.TxtWhite {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.fct-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.num-fct {
  font-size: 14px;
  background: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin-left: -12px;
  margin-right: 15px;
}

.back-rest {
  background: #F6F6F6;
}

.page-rest {
  display: flex;
}
.page-rest img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 80%;
     object-position: center 80%;
}

.page-cadre-menu {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #F6F6F6;
  justify-content: center;
  margin-top: -20px;
  position: relative;
  z-index: 2;
}

.page-menu {
  display: block;
  align-self: center;
}

.title-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title-menu h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 300;
}

.contenu-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.contenu-menu h2 {
  text-transform: uppercase;
  align-self: start;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 8px;
}
.contenu-menu h3 {
  text-transform: uppercase;
  align-self: start;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 8px;
}
.contenu-menu h4 {
  text-transform: uppercase;
  align-self: start;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 8px;
}

.tiret-vert {
  background-color: #99E2D0;
  position: relative;
  height: 3px;
  width: 40px;
  align-self: start;
  bottom: 10px;
  margin-left: 8px;
}

.cadre-plat {
  padding: 10px;
  width: 90%;
  max-width: 370px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cadre-plat .title-plat {
  display: block;
  font-size: 17px;
  font-weight: 600;
}
.cadre-plat .dtl-plat {
  display: flex;
  justify-content: space-between;
}
.cadre-plat .dtl-plat .detail {
  font-size: 14px;
  font-weight: 300;
}
.cadre-plat .dtl-plat .plat-prix {
  font-size: 14px;
  font-weight: 600;
}

.menu-btn {
  display: flex;
  justify-content: center;
}
.menu-btn .btn {
  font-size: 16px;
  font-weight: 500;
  max-width: 218px;
  height: 50px;
  margin-bottom: 60px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 60px;
  width: 100%;
}
.menu-btn .btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 85%;
}

.section-rest {
  display: block;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.section-rest h3 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}

.rest-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.rest-list img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 80%;
     object-position: center 80%;
}

.restaurant {
  width: 90%;
  contain: content;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: white;
}

.nouv {
  background-color: #99E2D0;
  font-size: 17px;
  color: #008766;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  right: 0;
  margin-right: 5%;
  margin-top: 5%;
}

.contenu-rest {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contenu-rest .text-container {
  margin-bottom: 8px;
  margin-left: 10px;
}
.contenu-rest .text-container .title-rest {
  font-size: 18px;
  font-weight: 700;
}
.contenu-rest .text-container .loca-rest {
  font-size: 17px;
  font-weight: 300;
}
.contenu-rest i {
  padding: 25px;
  margin-left: auto;
}

footer {
  background: #353535;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 20px;
}
footer .all-txt-foot {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .all-txt-foot i {
  max-width: 30px;
}
footer img {
  filter: brightness(0) invert(1);
  width: 100%;
  max-width: 130px;
  padding-bottom: 20px;
}/*# sourceMappingURL=Styles.css.map */