body
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0

.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 375px
  margin: 0 auto

.head-top
  display: flex

.head-arrow
  display: flex
  width: 30px
  height: 30px

.head-logo
  display: flex
  width: 197px
  height: 36px

.no-bullets
  list-style-type: none
  padding: 0

$gradient-start: #FF79DA
$gradient-end: #9356DC

.btn
  width: 218px
  height: 50px
  top: 50px
  border-radius: 25px
  border: none
  background: linear-gradient($gradient-start, $gradient-end)
  box-shadow: 0px 4px 10px 0px #00000040
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  &:hover 
    box-shadow: 0px 4px 15px 0px #00000059
    opacity: 85%
  
.TxtWhite
  color: #FFFFFF
  font-size: 16px
  font-weight: 500
  line-height: 18.75px
  text-align: center
